* h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}


body {
    background:rgb(205, 222, 255);
}

header{
    text-align: center;
}

.foto {
    border: 20px ridge white;
    padding-left: 25rem;
    background-color: white;
    flex-direction: column;
    display: flex;

}

 img {
    width:60%;
}

.foto p {
    font: small-caps 1.3rem sans-serif;
    text-align: center;

}

form {
    display:flex;
    align-items: stretch;
    flex-direction:column; 

}
.segundo
{
    text-align: right;
}