* h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}


body {
    background: cornflowerblue;
}



.foto {
    border: 20px ridge white;
    padding-left: 25rem;
    background-color: white;
    flex-direction: column;
    display: flex;

}

 img {
    width: 50%;
}

.foto p {
    font: small-caps 1.3rem sans-serif;
    text-align: center;

}

form {
    display:grid; 

}
.segundo
{
    text-align: right;
}